@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
   min-height: 100%;
   background-image: url(images/toy-story-background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 10px;
    width: 300px;
    height: 450px;
}

#range {
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(142, 202, 240);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover, button:focus {
    border: 3px solid #f1e970;
}

#tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top right, #ca1515 0%, #f85353 100%);
    border-radius: 20px;
    width: 800px;
    height: 700px;
}

#tablet h2{
    font-size: 3em;
    padding: 10px;
    color: #f1e970;
    font-family: 'Lobster', cursive;
}

#screen {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 650px;
    height: 500px;
    background-color: white;
}

#size-range {
    width: 125px;
}

#dials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#left-dial, #right-dial {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border:6px dashed lightgray;
}

.rotate {
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

